* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
span,
button {
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
}

a,
button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* POSTS */

.posts {
    padding: 60px 0 142px;
}

.posts-title {
    text-align: center;
}

.posts-title>*+* {
    margin-top: 10px;
}

.title-2 {
    color: #000;
    /* text-align: center; */
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle {
    color: #999;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.posts-row {
    padding: 40px 0 0;
}

.posts-row>*+* {
    margin-top: 30px;
}

.post {
    display: flex;
    column-gap: 15px;
}

.post-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    background: #000;
    color: #fff;
}

.post-content {
    width: 195px;
}

.post-title {
    color: #000;
    font-family: Playfair Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.post-text {
    color: #777;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.post-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-content>*+* {
    margin-top: 10px;
}

.post>* {
    flex-shrink: 0;
}

.posts-btn {
    display: none;
}

@media (min-width: 600px) {
    .container {
        width: 600px;
    }

    .posts-btn {
        display: block;
    }

    .posts-row {
        padding: 40px 0;
    }

    .post-image {
        width: 170px;
        height: 170px;
    }

    .post-content {
        width: 370px;
    }

    .post-title {
        font-size: 20px;
        line-height: normal;
    }

    .post-text {
        font-size: 14px;
    }

    .posts-row > * + * {
        margin-top: 40px;
    }
}

@media (min-width: 900px){
    /* .... Tablet */

    .posts-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}